* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: initial;
}
html,
body{
  background: linear-gradient(#E2F2F7, #fff);
  background-repeat: no-repeat;
  font-family: 'Rubik';
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
